NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
MONGODB_URI=mongodb://ayushkushwaha29102004_db_user:FreshMart2026@ac-jjhxomx-shard-00-00.q7dmudo.mongodb.net:27017,ac-jjhxomx-shard-00-01.q7dmudo.mongodb.net:27017,ac-jjhxomx-shard-00-02.q7dmudo.mongodb.net:27017/freshmart?ssl=true&replicaSet=atlas-121zck-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=AyushFreshMart2026@12345
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@freshmart.in
ADMIN_PASSWORD=FreshMart@123
ADMIN_NAME=FreshMart Admin
ADMIN_MOBILE=9999999999
DEFAULT_COUNTRY_CODE=91
RAZORPAY_KEY_ID=rzp_test_TAUHF810cBcewb
RAZORPAY_KEY_SECRET=yGSIYkPOlMryKr370Ewacd8J
MSG91_AUTH_KEY=xxxxxxxxxx
MSG91_SENDER_ID=FRSMRT
MSG91_OTP_FLOW_ID=xxxxxxxxxx
MSG91_ORDER_FLOW_ID=xxxxxxxxxx
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_USER=ayush.kushwaha.29.10.2004@gmail.com
EMAIL_PASS=qpmz fhkw itwt kqbw
